@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Layout_Fas";
}
<!-- Start of Breadcrumb section
    ============================================= -->
<section id="ft-breadcrumb" class="ft-breadcrumb-section position-relative" data-background="assets/img/bg/bread-bg.jpg">
    <span class="background_overlay"></span>
    <span class="design-shape position-absolute"><img src="~/assets/img/shape/tmd-sh.png" alt=""></span>
    <div class="container">
        <div class="ft-breadcrumb-content headline text-center position-relative">
            <h2>Chính sách bảo mật</h2>
            <div class="ft-breadcrumb-list ul-li">
                <ul>
                    <li><a asp-action="Index" asp-controller="Home">Trang chủ</a></li>
                    <li>Chính sách bảo mật</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End of Breadcrumb section
    ============================================= -->
<!-- Start of faq  section
============================================= -->
<section id="ft-faq-page" class="ft-faq-page-section page-padding">
	<div class="container">
		<div class="ft-faq-page-top-content d-flex justify-content-between align-items-end flex-wrap">
			<div class="ft-section-title-2 headline pera-content">
				<h2>
					Chính sách <span>bảo mật thông tin</span> khách hàng của Lê Mai Carry
					
				</h2>
			</div>
			<div class="ft-btn-3">
				<a class="d-flex justify-content-center align-items-center" asp-action="Contact" asp-controller="Home">Thông tin liên hệ<i class="flaticon-right-arrow"></i></a>
			</div>
		</div>
		<div class="ft-faq-content">
			<div class="row">
				<div class="col-lg-6">
					<div class="accordion" id="accordionExample">
						<div class="accordion-item headline pera-content">
							<h2 class="accordion-header" id="headingOne">
								<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
									Tại sao cần phải bảo mật thông tin khách hàng?
								</button>
							</h2>
							<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Lê Mai Carry hiểu rằng quyền riêng tư và bảo mật dữ liệu của bạn (người sử dụng) là quan trọng. 
									Chúng tôi cam kết bảo vệ quyền riêng tư của bạn và thông tin cá nhân bạn cung cấp. 
									Ngoài ra, thông tin bạn gửi cho công ty để phản hồi lại yêu cầu cung cấp thông tin qua email hoặc các cách tiếp cận khác sẽ được xử lý theo Chính sách bảo mật này. 
									Qua việc truy cập trang web của chúng tôi và đăng ký liên hệ, đồng nghĩa với việc bạn đồng ý với việc ràng buộc bởi Chính sách bảo mật này. Công ty có thể sửa đổi, cập nhật, bổ sung chính sách này vào mọi thời điểm nhằm bảo vệ thông tin khách hàng không bị xâm phạm. 
									Bản sửa đổi có hiệu lực vào thời điểm chúng tôi cập nhật. Sau khi chính sách bảo mật được cập nhật, người dùng vẫn sử dụng website này có nghĩa là người dùng đã hiểu và đồng ý với Chính sách bảo mật của Lê Mai Carry.
								</div>
							</div>
						</div>
						<div class="accordion-item headline pera-content">
							<h2 class="accordion-header" id="headingTwo">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
									Thu thập thông tin
								</button>
							</h2>
							<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Công ty tiến hành thu thập thông tin trực tiếp từ khách hàng và từ các nguồn khác nhau thông qua những cách thức minh bạch và hợp pháp. 
									Thông tin công ty thu thập về khách hàng dựa trên mối quan hệ với chính khách hàng, bao gồm tên, thông tin liên quan đến định danh (ví dụ thông tin chứng minh nhân dân, căn cước công dân, hộ chiếu hoặc các tài liệu định danh có ảnh khác), thông tin liên hệ, thông tin về cách sử dụng sản phẩm và dịch vụ của công ty, 
									các thông tin về những mối quan tâm của khách hàng, và những thông tin khác Khách hàng đã cung cấp cho công ty. Chúng tôi chỉ thu thập những thông tin được yêu cầu, hoặc có liên quan đến việc cung cấp sản phẩm và dịch vụ, mục đích kinh doanh và nhằm hiểu rõ hơn nhu cầu của khách hàng. Đối với khách hàng trực tuyến, 
									công ty có thể thu thập những thông tin như địa chỉ IP, loại hệ điều hành khách hàng đang sử dụng, thiết bị, thời điểm và thời gian khách hàng truy cập vào trang web, địa điểm truy cập Internet và các đề mục khách hàng đã truy cập trong trang của công ty với mục đích theo dõi việc sử dụng, hoàn thiện trang web và hơn thế nữa là có thể cải thiện trải nghiệm của khách hàng.
								</div>
							</div>
						</div>
						<div class="accordion-item headline pera-content">
							<h2 class="accordion-header" id="headingThree">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
									Sử dụng Thông tin khách hàng như thế nào?
								</button>
							</h2>
							<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Công ty chỉ sử dụng thông tin cá nhân của khách hàng theo đúng mục đích thu thập, hoặc vì các mục đích khác mà khách hàng đồng ý, hoặc trong các trường hợp mà pháp luật quy định. 
									Trong một vài trường hợp, theo quy định của pháp luật, thông tin cá nhân của khách hàng có thể được cung cấp cho các cá nhân, tổ chức, các nhà cung cấp dịch vụ và các nhân viên của Lê Mai Carry ở các khu vực pháp lý khác với nơi thu thập thông tin và buộc phải tuân theo pháp luật tại khu vực đó. 
									Công ty sẽ không chia sẻ thông tin cá nhân của khách hàng với bất kỳ tổ chức nào bên ngoài nhóm các công ty của chúng tôi với mục đích tiếp thị sản phẩm hoặc dịch vụ, nếu không có sự chấp thuận từ phía khách hàng. Trong một số trường hợp, trong khuôn khổ của pháp luật, chúng tôi sẽ chia sẻ thông tin của khách hàng trong nội bộ nhóm các công ty của Lê Mai Carry nhằm cung cấp cho khách hàng những thông tin ưu đãi về các sản phẩm và dịch vụ khác. 
									Khách hàng có quyền lựa chọn từ chối việc nhận các thông tin ưu đãi nêu trên. Công ty có thể sẽ cần phân tích thông tin khách hàng nhằm nắm bắt tốt hơn các nhu cầu của khách hàng và các loại sản phẩm, dịch vụ cũng như các chương trình khuyến mãi mà khách hàng có thể sẽ quan tâm đến. Công ty sẽ giữ thông tin cá nhân của khách hàng cho đến khi chúng không còn cần thiết để đáp ứng các mục đích thu thập hoặc khi pháp luật có quy định. 
									Công ty tập trung vào việc đảm bảo thông tin cá nhân của khách hàng luôn chính xác và được cập nhật liên tục, việc đó là cần thiết để có thể đạt được các mục đích sử dụng của thông tin.
								</div>
							</div>
						</div>
						<div class="accordion-item headline pera-content">
							<h2 class="accordion-header" id="headingFour">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
									Phương thức bảo vệ thông tin khách hàng?
								</button>
							</h2>
							<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
								<div class="accordion-body">
									Công ty sẽ bảo vệ thông tin cá nhân của khách hàng bằng những phương thức bảo vệ an ninh phù hợp với mức độ quan trọng của thông tin, ngăn chặn hành vi truy cập, công bố, sửa đổi hoặc sử dụng thông tin trái phép. 
									Công ty chịu trách nhiệm đối với thông tin cá nhân thuộc quyền sở hữu của công ty, bao gồm các thông tin được chuyển đến các nhà cung cấp dịch vụ hiện đang thực hiện nhiệm vụ thay mặt chúng tôi. 
									Khi chia sẻ thông tin cá nhân với các nhà cung cấp dịch vụ, họ có trách nhiệm bảo vệ thông tin bằng những biện pháp phù hợp với thực tiễn và chính sách bảo mật của công ty.
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="accordion" id="accordionExampl2">
						<div class="accordion-item headline pera-content">
							<h2 class="accordion-header" id="headingOne2">
								<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
									Cam kết Bảo mật
								</button>
							</h2>
							<div id="collapseOne2" class="accordion-collapse collapse show" aria-labelledby="headingOne2" data-bs-parent="#accordionExampl2">
								<div class="accordion-body">
									Công ty cam kết sẽ quản lý thông tin cá nhân dưới sự kiểm soát cẩn trọng. Công ty có đội ngũ nhân viên chịu trách nhiệm giám sát việc tuân thủ các Nguyên tắc Bảo mật của Công ty. 
									Công ty sẽ đảm bảo thông tin về chính sách bảo mật và thực tiễn việc quản lý thông tin cá nhân của công ty dễ dàng truy cập dành cho khách hàng. Dựa trên yêu cầu bằng văn bản của khách hàng, 
									công ty sẽ cung cấp cho khách hàng quyền truy cập hợp lý vào thông tin cá nhân của khách hàng và bảng mô tả về việc sử dụng hoặc tiết lộ thông tin, như yêu cầu hoặc theo đúng quy định của pháp luật. 
									Khách hàng cũng có thể xác minh tính chính xác và đầy đủ của thông tin và yêu cầu được sửa đổi hoặc xóa bỏ, nếu thích hợp hoặc được pháp luật cho phép.
								</div>
							</div>
						</div>
						<div class="accordion-item headline pera-content">
							<h2 class="accordion-header" id="headingTwo2">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
									Cookie và các công nghệ khác
								</button>
							</h2>
							<div id="collapseTwo2" class="accordion-collapse collapse" aria-labelledby="headingTwo2" data-bs-parent="#accordionExampl2">
								<div class="accordion-body">
									Các trang web, dịch vụ trực tuyến, ứng dụng tương tác và quảng cáo của Lê Mai Carry có thể sử dụng “cookie” và các công nghệ khác như bọ web. 
									Những công nghệ này giúp chúng tôi hiểu rõ hơn về hành vi của người dùng, bao gồm cả nhằm mục đích bảo mật và ngăn chặn gian lận, cho chúng tôi biết mọi người đã truy cập vào những phần nào của trang web, cũng như tạo sự thuận lợi và đo lường hiệu quả của quảng cáo và việc tìm kiếm trên web.
								</div>
							</div>
						</div>
						<div class="accordion-item headline pera-content">
							<h2 class="accordion-header" id="headingThree2">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
									Chuyển dữ liệu cá nhân giữa các quốc gia
								</button>
							</h2>
							<div id="collapseThree2" class="accordion-collapse collapse" aria-labelledby="headingThree2" data-bs-parent="#accordionExampl2">
								<div class="accordion-body">
									Đối với khách hàng sử dụng dịch vụ vận chuyển từ nước ngoài về Việt Nam (hoặc chiều ngược lại) của Công ty Lê Mai. Việc chuyển dữ liệu về thông tin khách hàng bắt buộc phải xảy ra. Lê Mai tuân thủ luật chuyển giao dữ liệu cá nhân giữa các quốc gia để giúp đảm bảo dữ liệu của bạn được bảo vệ, dù ở bất kỳ đâu.
								</div>
							</div>
						</div>
						<div class="accordion-item headline pera-content">
							<h2 class="accordion-header" id="headingFour2">
								<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour2" aria-expanded="false" aria-controls="collapseFour2">
									Bảo vệ dữ liệu cá nhân tại Lê Mai Carry
								</button>
							</h2>
							<div id="collapseFour2" class="accordion-collapse collapse" aria-labelledby="headingFour2" data-bs-parent="#accordionExampl2">
								<div class="accordion-body">
									Tại Lê Mai Carry, chúng tôi tin rằng quyền riêng tư chỉ được đảm bảo khi có bảo mật tốt. 
									Chúng tôi sử dụng các biện pháp bảo vệ về mặt hành chính, kỹ thuật và vật lý để bảo vệ dữ liệu cá nhân của bạn, cân nhắc đến tính chất của dữ liệu cá nhân và quá trình xử lý cũng như các mối đe dọa tiềm ẩn. 
									Chúng tôi không ngừng nỗ lực cải thiện các biện pháp bảo vệ này nhằm góp phần đảm bảo an toàn cho dữ liệu cá nhân của bạn. Để biết thêm thông tin, 
									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="ft-faq-contact-form-wrapper">
			<div class="row">
				<div class="col-lg-6">
					<div class="ft-faq-contact-form-area">
						<div class="ft-section-title-2 headline pera-content">
							<span class="sub-title">Nhấn gửi ngay</span>
							<h2>nếu có bất kỳ câu hỏi nào?</h2>
						</div>
						<form action="#">
							<div class="row">
								<div class="col-md-6">
									<input type="text" placeholder="Tên của bạn">
								</div>
								<div class="col-md-6">
									<input type="email" placeholder="Địa chỉ email">
								</div>
								<div class="col-md-12">
									<input type="text" placeholder="Tên công ty/Shop">
								</div>
								<div class="col-md-12">
									<textarea name="#" placeholder="Câu hỏi cần giải đáp"></textarea>
								</div>
								<div class="col-md-12">
									<button class="ft-submit-btn">Gửi ngay <i class="flaticon-right-arrow"></i></button>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="ft-faq-form-img">
						<img src="assets/img/bg/fq.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- End of faq section
	============================================= -->
@section menu
    {
    <partial name="_LayoutMenu" model="null" view-data="ViewData" />
}
@section menumobile
    {
    <partial name="_LayoutMenuMobile" model="null" view-data="ViewData" />
}