@{
    ViewData["Title"] = "Tra cứu hành trình";
    Layout = "_Layout_Fas";
}
<div>
    Kiểm tra hành trình
</div>

@section menu
    {
        <partial name="_LayoutMenu" model="null" data="1254587" />
}
@section menumobile
    {
        <partial name="_LayoutMenuMobile" model="null" data="123456" />
}