<div class="col-lg-5 d-none d-lg-flex justify-content-center">
    <!-- main menu start-->
    <ul class="main-menu">
        <li class="main-menu__item main-menu main-menu__item--active">
            <a class="main-menu__link" href="javascript:void(0);"><span>Trang chủ</span></a>
        </li>
        <li class="main-menu__item main-menu__item--has-child">
            <a class="main-menu__link" href="javascript:void(0);"><span>Giới thiệu</span></a>
            <!-- sub menu start-->
            <ul class="main-menu__sub-list sub-list--style-2">
                <li><a href="about.html"><span>VTV Express</span></a></li>
                <li><a href="team.html"><span>Đội ngũ</span></a></li>
                <li><a href="services.html"><span>Dịch vụ</span></a></li>
                <li><a href="service-details.html"><span>Đối tác</span></a></li>
                <li><a href="careers.html"><span>Đại lý</span></a></li>
                <li><a href="warehouse.html"><span>Kho, điểm gom hàng</span></a></li>
            </ul>
            <!-- sub menu end-->
        </li>
        <li class="main-menu__item main-menu__item--has-child">
            <a class="main-menu__link" href="javascript:void(0);"><span>Dịch vụ</span></a>
            <!-- sub menu start-->
            <ul class="main-menu__sub-list">
                <li><a href="service-details.html"><span>Chuyển phát nhanh toàn quốc</span></a></li>
                <li><a href="service-details.html"><span>Chuyển phát nhanh quốc tế</span></a></li>
                <li><a href="service-details.html"><span>Vận tải hàng hóa</span></a></li>
                <li><a href="service-details.html"><span>Mua hộ hàng nước ngoài</span></a></li>
            </ul>
            <!-- sub menu end-->
        </li>
        <li class="main-menu__item main-menu__item--has-child">
            <a class="main-menu__link" href="javascript:void(0);"><span>Tin tức</span></a>
            <!-- sub menu start-->
            <ul class="main-menu__sub-list">
                <li><a href="shop.html"><span>Tin tức trong nước</span></a></li>
                <li><a href="shop-single.html"><span>Tin thế giới</span></a></li>
                <li><a href="shop-cart.html"><span>Hoạt động công ty</span></a></li>
            </ul>
            <!-- sub menu end-->
        </li>
        <li class="main-menu__item main-menu">
            <a class="main-menu__link" href="javascript:void(0);"><span>Liên hệ</span></a>
        </li>
    </ul>
    <!-- main menu end-->
</div>