@{
    ViewData["adminTitle"] = "Slider";
    Layout = "_LayoutAdmin";
}
@model WebSliderModel;
@using LeMaiDomain.Models;
@section css
    {
}
<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Đơn đặt hàng</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item active">Slider</li>
        </ol>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-cart-plus me-1"></i>
                Chi tiết Slider
            </div>
            <div class="card-body">
                <form asp-action="Slider" asp-controller="Admin" method="post">
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" asp-for="slider.BannerName" readonly="readonly">
                        <label>Mã đặt hàng</label>
                        <span asp-validation-for="slider.BannerName"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" name="AcceptName">
                        <label>Tên người nhận</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" asp-for="slider.BannerName">
                        <label>Điện thoại người nhận</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" asp-for="slider.BannerName">
                        <label asp-for="slider.BannerName" >Địa chỉ</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" asp-for="slider.BannerTitle">
                        <label>Tên hàng</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea type="text" class="form-control" rows="5" asp-for="slider.BannerDescription"></textarea>
                        <label>Ghi chú</label>
                    </div>
                    <div class="form-check mb-3">
                        <label style="color:red">@Model.ErrorMessage</label>
                    </div>
                    <div class="form-check mb-3">
                        <button type="submit" class="btn btn-primary">Lưu đơn đặt hàng</button>
                        <a type="button" class="btn btn-danger" asp-action="Orders" asp-controller="KhachHang">Quay trở về</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

@section js{
}